[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "==1.0"
Flask-Cors = "*"
requests = "==2.18.1"

[dev-packages]
pylint = "*"
ipdb = "*"
ipython = "*"
autopep8 = "*"

